<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <link href = "/css/styles.css" rel = "stylesheet"/>
    <title>BARLEA Examples</title>
</head>
<body>


<div class="fadeIn first">
    <div class="row bg-teal px-4">
        <img class="m-4" src="/img/barlea-token.png" id="icon" alt="BARLEA Token" style="width:180px;height:180px;"/>
    </div>
</div>

<div class="row justify-content-center fadeIn second no-gutters bg-lightblue pt-4">
    <div class="col-2 no-gutters">
        <img class="float-left" src="/img/austin-distel-DS1hZ4xzD7M-unsplash.jpg" alt="Cyber Cafe" style="width:240px;height:300px;"/>
    </div>
    <div class="col-3 bg-lightblue no-gutters">
        <div class="container my-4">
            <h1>Exceptional Access</h1>
        </div>
        <div class="container my-4">
            Enforce warrants; restrict law enforcement access; protect privacy of end-users; reduce cost of compliance
        </div>
        <div class="container">
            <a class="btn btn-primary my-4" onclick="exceptionalAccess()">View Example</a>
        </div>
    </div>
</div>

<div class="row justify-content-center fadeIn third no-gutters bg-lightblue">
    <div class="col-3 bg-lightblue no-gutters">
        <div class="container my-4">
            <h1>HIPAA/GDPR</h1>
        </div>
        <div class="container my-4">
            Patient control of EHR portability; transparency and accountability for reducing audits
        </div>
        <div class="container">
            <a  class="btn btn-primary my-4" onclick="hipaa()">View Example</a>
        </div>
    </div>
    <div class="col-2 no-gutters">
        <img class="float-right" src="/img/national-cancer-institute-xcN1taJ2y0M-unsplash.jpg" alt="Doctor with Scan" style="width:240px;height:300px;"/>
    </div>
</div>


<div class="row justify-content-center fadeIn fourth no-gutters bg-lightblue py-4">
    <div class="col-2 no-gutters">
        <img class="float-right" src="/img/barlea-token.png" alt="Doctor with Scan" style="width:240px;height:240px;"/>
    </div>
    <div class="col-3 bg-lightblue no-gutters">
        <div class="container my-4">
            <h1>Thank You</h1>
        </div>
        <div class="container my-4">
            Click Goodbye to stop the server and end the presentation
        </div>
        <div class="container">
            <a  class="btn btn-primary my-4" href="/barlea/goodbye.html">Goodbye!</a>
        </div>
    </div>
</div>



</body>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    function exceptionalAccess() {
        $.get("/exceptional-access/init");
        window.location.replace("/applicant/login.html");
    }

    function hipaa() {
        $.get("/hipaa/init");
        window.location.replace("/hipaa/applicant/login.html");
    }

</script>

</html>